<div class="adminevent-form">
  <form [formGroup]="adminevent">
    <div class="form-group">
      <div class="inputs">
        <div class="input-row">
          <input formControlName="title" placeholder="Event Title" required />
          <textarea
            formControlName="description"
            placeholder="Event Description"
            required
          ></textarea>
        </div>

        <div class="input-row">
          <input formControlName="organizer" placeholder="Organizer" required />
          <input formControlName="presenter" placeholder="Presenter" required />
        </div>

        <mat-form-field class="DatePicker">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName="date" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="datepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>

        <div class="input-row">
          <input formControlName="time" placeholder="Enter the Time" required />
        </div>

        <div class="input-row">
          <input
            formControlName="venue"
            placeholder="Enter the Venue"
            required
          />
        </div>
      </div>
    </div>

    <div class="actions">
      <button type="button" class="cancel" (click)="cancel()">Cancel</button>
      <button type="submit" class="save" (click)="submitForm()">Submit</button>
    </div>
  </form>
</div>
