/* General layout */
.adminevent-form {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #5b2245;
    margin-bottom: 30px;
  }
  
  /* Tabs styling */
  .tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
  }
  
  .tab-link {
    padding: 10px 20px;
    cursor: pointer;
    color: #5b2245;
    border: none;
    background: none;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  
  .tab-link.active {
    border-bottom: 2px solid #5b2245;
    font-weight: bold;
  }
  
  /* Form styling */
  .profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  
  
  .inputs {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input-row {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .input-row input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    height: 120px;
  }
  
  /* Actions (Save and Cancel buttons) */
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }
  
  button.cancel {
    background-color: #5b2245;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.save {
    background-color: #842f5a;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #701d4a;
  }
  