<div class="adminevent-page">
  <div class="header">
    <h1>Admin Events</h1>
    <button class="new-post-button" (click)="goToNewEvents()">New Post</button>
  </div>

  <div class="adminevents-list"></div>
  <div class="event-grid">
    <div class="event-card" *ngFor="let event of events">
      <div class="event-details">
        <h3>{{ event.title }}</h3>
        <p>{{ event.description }}</p>
      </div>
      <button class="view-more" (click)="openDialog(event)">View More</button>
      <button class="reject-btn" (click)="deletePost(event.id)">Delete</button>
    </div>
  </div>
</div>
