<div class="adminevent-page">
    <div class="header">
        <h1>Admin Events</h1>
        <button class="new-post-button" (click)="goToNewEvents()">New Post</button>
      </div>
    
      <div class="adminevents-list">
        <div class="adminevent-card">
          <div class="adminevent-info">
            <img src="path_to_profile_image" class="profile-img" alt="Profile" />
            <!-- <div [innerHTML]="adminevent.content"></div> -->
          </div>
          
        </div>
      </div>
</div>