<div mat-dialog-title class="full-width-image">
  <img
    src="https://images.pexels.com/photos/220769/pexels-photo-220769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
</div>
<div class="event-modal-container">

  <button mat-dialog-close class="close-button">&times;</button>
  <h2>{{ data.title }}</h2>
  <p>{{ data.description }}</p>
  <div class="event-modal-details">
    <div>
      <p><strong>Date:</strong> {{ data.date }}</p>
      <p><strong>Time:</strong> {{ data.time }}</p>
      <p><strong>Venue:</strong> {{ data.venue }}</p>
    </div>
    <div>
      <p><strong>Organizer:</strong> {{ data.organizer }}</p>
      <p><strong>Presenter:</strong> {{ data.presenter }}</p>
    </div>
  </div>
</div>