<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="false" class="sidenav">
    <mat-toolbar color="primary" class="sidenav-header">
      <img src="path-to-profile-image" alt="Profile" class="profile-image" />
    </mat-toolbar>

    <mat-nav-list>
      <a class="nav-item" mat-list-item href="homepage">
        <mat-icon>home</mat-icon>
        <span class="nav-title">Home</span>
      </a>
      <a class="nav-item" mat-list-item href="achievements">
        <mat-icon>emoji_events</mat-icon>
        <span class="nav-title">Achievements</span>
      </a>
      <a class="nav-item" mat-list-item href="events">
        <mat-icon>event</mat-icon>
        <span class="nav-title">Events</span>
      </a>
      <a class="nav-item" mat-list-item href="profiles">
        <mat-icon>account_circle</mat-icon>
        <span class="nav-title">Profile</span>
      </a>
      <a *ngIf="isAdmin()" class="nav-item" mat-list-item href="adminapproval">
        <mat-icon>account_circle</mat-icon>
        <span class="nav-title">Admin Approval</span>
      </a>
      <a *ngIf="isAdmin()" class="nav-item" mat-list-item href="adminevent">
        <mat-icon>account_circle</mat-icon>
        <span class="nav-title">Admin Event</span>
      </a>
      <a class="nav-item" mat-list-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span class="nav-title">Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="website-banner">
    <mat-toolbar color="primary">
      <div class="nav">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        Alumni Management System
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>