<div class="container">
    <h1 class="achievement-post-header">New Achievements Post</h1>

    <h4 class="form-label">Your Content</h4>
    <!-- <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
        <ngx-editor [editor]="editor" [ngModel]="html" class="ngxeditor-container"></ngx-editor>
    </div> -->

    <div>
        <quill-editor [styles]="{height: '400px'}" [(ngModel)]="achievementModel.content"></quill-editor>
    </div>

    <h4 class="form-label">Attachments</h4>
    <mat-card>
        <input type="file" class="file-picker"/>
    </mat-card>

    <div class="button-container">
        <button class="cancel-button" (click)="goBackToAchievements()">Cancel</button>
        <button class="post-button" (click)="createAchievement()">Post</button>
    </div>
    
</div>
