.register-container {
  display: flex;
  height: 100vh;
}

.register-form {
  background-color: white;
  max-width: 600px;
  margin: 120px auto;
  padding: 16px 16px 24px;
  box-shadow: 0 2px 32px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
}

.register-form input {
  width: 100%;
  padding: 12px; /* Set consistent padding */
  margin-top: 10px; /* Reduce margin between input fields */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="text"] {
  height: 45px; /* Set consistent height for inputs */
}

#password {
  margin-bottom: 10px; /* Reduce bottom margin to make the fields closer */
}

.btn-register {
  margin-top: 20px; /* Space the button from the student ID field */
  padding: 12px 30px; /* Set consistent padding for the button */
  border-radius: 4px;
  cursor: pointer;
  background-color: #330A19;
  color: #fff;
  border: none;
}

.register-left,
.register-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.register-left {
  background-image: url('../../../assets/register-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  background-color: #f5f5f5;
  height: auto;
  overflow: hidden;
}

.register-left h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.register-left p {
  margin-bottom: 1rem;
}

.register-left form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.register-left form label {
  margin-top: 1rem;
}

.register-left form input {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-left .btn {
  padding: 0.75rem;
  margin-top: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-left .btn-google {
  background-color: #db4437;
  color: white;
}

.register-left .btn-apple {
  background-color: #000000;
  color: white;
}

.register-left .btn-signin {
  background-color: #4a90e2;
  color: white;
}

.register-right {
  background-color: white;
}

.register-info {
  text-align: center;
}

.register-info h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.register-info p {
  margin-bottom: 1rem;
}

.register-info img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.nav {
  top: 0;
  width: auto;
  background-color: #330A19;
  color: #fff;
  display: flex;
  padding: 0 16px;
  align-items: center;
  height: 56px;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}
