<div class="nav">
  Alumni Management System
</div>
<div class="login-container">
    <div class="login-left">
      <form class="login-form">
        <h2>Register an Account</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    
        <button class="btn-login" type="submit">Register</button>
        <a href="login">Have an existing account? Login instead!</a>
      </form>
      </div>
    </div>